.button {
  color: white;
  padding: 8px 16px;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  width: "100%";
}

button:hover {
  opacity: 0.9;
}
