table {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-collapse: collapse;
  font-family: inherit;
}

td,
th {
  padding: 8px;
  text-align: left;
  font-family: inherit;
  font-size: 12px;
}

td {
  padding-top: 16px;
  padding-bottom: 16px;
}

th {
  background-color: #edf0ef;
  padding-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px -1px rgba(31, 28, 28, 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

tbody tr {
  border-bottom: 1px solid #edf0ef;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
