.emailConfirmation {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.emailConfirmationContainer {
  display: grid;
  place-items: center;
}
.emailConfirmationText {
  margin-bottom: 16px;
}

.emailConfirmationError {
  margin-bottom: 16px;
  font-size: 12px;
}
